In [2]:
#Download data set
%matplotlib notebook 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import random as rd

csv_path="indeed_job_dataset.csv"
job_df=pd.read_csv(csv_path)
job_df.head()

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0

In [22]:
#job_df.columns[26]
# for column in job_df.columns[1:]:
#     print(job_df[column])

In [ ]:
# - SF bay area
# - Data jobs (Analyst, Engineer, Scientist)
# - how many people in a job category, title
# - what’s the job with highest hiring rate
# - turnover
# -  most searched jobs
# - salary comparison between locations, category, company
# - what are the keywords/skills that appear in resumes (av
# - wordcloud
# - last job date
# - job trends (BLS, other sites?)
# - clustering?

#How many times does it take before a job is filled

# keyword skills, salary, comp review, job category

#What to ask HR?
#active recruiting - what do they look for?
#res

# Job Category (Ratan)

In [32]:
#Job category by state (Ratan)
# job_category = job_df["Job_Type"].unique()
# job_category
job_df_stategroup = job_df.groupby(["MD"])

job_df_stategroup.groups

{0: Int64Index([   0,    1,    2,    3,    4,    6,    7,    8,    9,   10,
             ...
             5704, 5705, 5706, 5707, 5708, 5709, 5710, 5711, 5712, 5713],
            dtype='int64', length=5546),
 1: Int64Index([   5,  116,  121,  136,  163,  194,  206,  208,  213,  218,
             ...
             4750, 4831, 5048, 5175, 5192, 5204, 5221, 5332, 5593, 5714],
            dtype='int64', length=169)}

In [ ]:
#Job title vs salary

In [ ]:
#Job title vs job skill keywords in resume

# Salary (Val)

In [ ]:
#Avg salary comp vs states

In [ ]:
#Avg salary comp vs industry

In [ ]:
#Most searched salary range

# Company Reviews/Info (Khrizel)

In [ ]:
#Company ratings vs avg salary

In [ ]:
#Company ratings vs employee count

# Skill Keywords (Elena)

In [ ]:
#Most searched keywords

In [ ]:
#Trends using line graph

In [ ]:
#Word cloud cluster

In [ ]:
#Data cleanup

In [ ]:
#Matplotlib (seaborn)

In [ ]:
#Download API (json)